
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- ========================
                ///// Begin page header /////
                =============================
                * ATENTION: This page header is slightly different from the default page header!
                It contains some extra elements and classes specifically for a portfolio single project.
                =============================
                * Use class "ph-full" to enable fullscreen size.
                * Use class "ph-cap-sm", "ph-cap-lg", "ph-cap-xlg" or "ph-cap-xxlg" to set caption size (no class = default size).).
                * Use class "ph-center" to enable content center position.
                * Use class "ph-bg-image" to enable page header background image (required for a portfolio single project!).
                * Use class "ph-bg-image-is-light" if needed, it makes the elements dark and more visible if you use a very light image (effect only with class "ph-bg-image").
                * Use class "ph-image-shadow" to enable page header background image (effect only with class "ph-bg-image").
                * Use class "ph-image-cropped" to crop image. It fixes image dimensions (no effect for "ph-bg-image"!).
                * Use class "ph-image-cover-*" to set image overlay opacity. For example "ph-image-cover-2" or "ph-image-cover-2-5" (up to "ph-image-cover-9-5").
                * Use class "ph-content-parallax" to enable content parallax.
                * Use class "ph-stroke" to enable caption title stroke style.
                * Use class "ph-inline" to enable content inline position (for a single project page only! No effect with class "ph-center"!).
                -->
<div id="page-header" class="ph-full ph-bg-image ph-image-shadow ph-image-cover-5 ph-content-parallax">
    <div class="page-header-inner tt-wrap">

        <!-- Begin page header image
        ============================= -->
        <div class="ph-image">
            <div class="ph-image-inner">
                <img src="/assets/img/custom/productdetail1.jpg" alt="Image">
            </div>
        </div>
        <!-- End page header image -->
        <!-- Begin page header caption
        ===============================
        Use class "max-width-*" to set caption max width if needed. For example "max-width-1000". More info about helper classes can be found in the file "helper.css".
        -->
        <div class="ph-caption">
            <div class="ph-categories ph-appear">
                <div class="ph-category" style="">Product Name</div>
                <!-- <div class="ph-category">Varia</div> -->
            </div> <!-- /.ph-categories -->

            <h2 class="ph-caption-title ph-appear">Product Details</h2> <!-- You can use <br class="hide-from-lg"> to break a text line if needed -->
            <!-- <h4 class="ph-caption-subtitle ph-appear">Subtitle</h4> -->
        </div>
        <!-- End page header caption -->
        <!-- Begin project info list
        =============================
        * You can use the project info list as a standalone element outside of the page header if you want.
        -->
        <div class="project-info-list anim-fadeinup margin-top-60">
            <ul>
                <li>
                    <div class="pi-list-heading">Price</div>
                    <div class="pi-list-cont">XYZ</div>
                </li>
                <li>
                    <div class="pi-list-heading">Working From</div>
                    <div class="pi-list-cont">2001</div>
                </li>
                <li>
                    <div class="pi-list-heading">Role</div>
                    <div class="pi-list-cont">Branding</div> <!-- Describe in a few words -->
                </li>
                <li>
                    <div class="pi-list-heading">Team Number</div>
                    <div class="pi-list-cont">20</div> <!-- Describe in a few words -->
                </li>
                <li>
                    <div class="pi-list-heading">Demo</div>
                    <div class="pi-list-cont">Demo Text</div> <!-- Describe in a few words -->
                </li>
                <li>
                    <div class="pi-list-heading">More</div>
                    <div class="pi-list-cont"><a href="" target="_blank" rel="noopener">More Examples<span class="pi-list-icon"><i class="fas fa-arrow-right"></i></span></a></div>
                </li>
            </ul>
        </div>
        <!-- End project info list -->

    </div> <!-- /.page-header-inner -->
    <!-- Begin scroll down circle (you can change "data-offset" to set scroll top offset)
    ============================== -->
    <a href="#page-content" class="scroll-down-circle" data-offset="30">
        <div class="sdc-inner ph-appear">
            <div class="sdc-icon"><i class="fas fa-chevron-down"></i></div>
            <svg viewBox="0 0 500 500">
                <defs>
                    <path d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250" id="textcircle"></path>
                </defs>
                <text dy="30">
                    <textPath xlink:href="#textcircle">Scroll down - Scroll down -</textPath>
                </text>
            </svg>
        </div> <!-- /.sdc-inner -->
    </a>
    <!-- End scroll down circle -->
    <!-- Begin made with love
    ========================== -->
    <div class="made-with-love ph-appear">
        <div class="mwl-inner">
            <div class="mwl-text">Made with</div>
            <div class="mwl-icon"><i class="far fa-heart"></i></div>
        </div>
    </div>
    <!-- End made with love -->
    <!-- Begin page header share (share buttons are for design purposes only!)
    ============================= -->
    <div class="ph-share">
        <div class="ph-share-trigger ph-appear">
            <div class="ph-share-text">Share</div>
            <div class="ph-share-icon magnetic-item"><i class="fas fa-share-alt"></i></div>
        </div> <!-- /.ph-share-trigger -->

        <div class="ph-share-content">
            <div class="ph-share-close cursor-close"><div class="bg-noise"></div></div>
            <div class="ph-share-inner">
                <h1 class="ph-share-title ph-share-appear">Spread the Word!</h1>
                <div class="ph-share-subtitle ph-share-appear">Share this project with your friends</div>

                <div class="social-buttons ph-share-appear">
                    <ul>
                        <li><a href="#0" class="magnetic-item" title="Share on Facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#0" class="magnetic-item" title="Share on Twitter"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#0" class="magnetic-item" title="Share on Pinterest"><i class="fab fa-pinterest"></i></a></li>
                    </ul>
                </div> <!-- /.social-buttons -->

            </div> <!-- /.ph-share-inner -->

            <div class="ph-share-ghost ph-share-appear">Share</div>
        </div> <!-- /.ph-share-content -->
    </div>
    <!-- End page header share -->

</div>
<!-- End page header -->
<!-- *************************************
                *********** Begin page content ***********
                ************************************** -->
<div id="page-content">


    <!-- =======================
    ///// Begin tt-section /////
    ============================
    * You can use padding classes if needed. For example "padding-top-xlg-150", "padding-bottom-xlg-150", "no-padding-top", "no-padding-bottom", etc. Note that each situation may be different and each section may need different classes according to your needs. More info about helper classes can be found in the file "helper.css".
    -->
    <div class="tt-section padding-top-xlg-180 padding-left-sm-3-p padding-right-sm-3-p">
        <div class="tt-section-inner tt-wrap">

            <div class="tt-row">
                <div class="tt-col-lg-4 padding-right-md-5-p">

                    <!-- Begin tt-Heading
                    ======================
                    * Use class "tt-heading-xsm", "tt-heading-sm", "tt-heading-lg", "tt-heading-xlg" or "tt-heading-xxlg" to set caption size (no class = default size).
                    * Use class "tt-heading-stroke" to enable stroke style.
                    * Use class "tt-heading-center" to align tt-Heading to center.
                    * Use prepared helper class "max-width-*" to add custom width if needed. Example: "max-width-800". More info about helper classes can be found in the file "helper.css".
                    -->
                    <div class="tt-heading tt-heading-xsm margin-bottom-60 anim-fadeinup">
                        <h2 class="tt-heading-title">About Us</h2>
                        <!-- <h3 class="tt-heading-subtitle text-gray">Subtitle</h3> -->
                    </div>
                    <!-- End tt-Heading -->

                </div> <!-- /.tt-col -->

                <div class="tt-col-lg-8">

                    <div class="anim-fadeinup text-gray">
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Architecto eius cupiditate hic provident maiores consequatur
                            repellendus mollitia eum reprehenderit fugit, debitis sequi distinctio
                            quaerat nam ut nobis, rem possimus consectetur!
                        </p>

                        <!-- <div class="tt-btn tt-btn-link no-margin">
                            <a href="dummy-page.html" data-hover="Explore More">Explore More</a>
                        </div> -->
                    </div>

                </div> <!-- /.tt-col -->
            </div> <!-- /.tt-row -->

        </div> <!-- /.tt-section-inner -->
    </div>
    <!-- End tt-section -->
    <!-- =======================
    ///// Begin tt-section /////
    ============================
    * You can use padding classes if needed. For example "padding-top-xlg-150", "padding-bottom-xlg-150", "no-padding-top", "no-padding-bottom", etc. Note that each situation may be different and each section may need different classes according to your needs. More info about helper classes can be found in the file "helper.css".
    -->
    <div class="tt-section">
        <div class="tt-section-inner">

            <!-- Begin tt-image
            ====================
            * Use class "tti-fixed-height" to enable image fixed height (no effect on small screens!).
            * Use class "anim-image-parallax" on <img> tag to enable parallax effect.
            * Use class "margin-bottom-*" to enable bottom margins. For example "margin-bottom-100". More info about helper classes can be found in the file "helper.css".
            -->
            <div class="tt-image tti-fixed-height">
                <figure>
                    <img class="anim-image-parallax tt-lazy" src="assets/img/low-qlt-thumb.jpg" data-src="assets/img/custom/productdetail2.jpg" alt="image">
                    <figcaption>
                        Image Caption
                    </figcaption>
                </figure>
            </div>
            <!-- End tt-image -->

        </div> <!-- /.tt-section-inner -->
    </div>
    <!-- End tt-section -->
    <!-- =======================
    ///// Begin tt-section /////
    ============================
    * You can use padding classes if needed. For example "padding-top-xlg-150", "padding-bottom-xlg-150", "no-padding-top", "no-padding-bottom", etc. Note that each situation may be different and each section may need different classes according to your needs. More info about helper classes can be found in the file "helper.css".
    -->
    <div class="tt-section padding-left-sm-3-p padding-right-sm-3-p">
        <div class="tt-section-inner tt-wrap">

            <div class="tt-row">
                <div class="tt-col-lg-8">

                    <!-- Begin tt-Heading
                    ======================
                    * Use class "tt-heading-xsm", "tt-heading-sm", "tt-heading-lg", "tt-heading-xlg" or "tt-heading-xxlg" to set caption size (no class = default size).
                    * Use class "tt-heading-stroke" to enable stroke style.
                    * Use class "tt-heading-center" to align tt-Heading to center.
                    * Use prepared helper class "max-width-*" to add custom width if needed. Example: "max-width-800". More info about helper classes can be found in the file "helper.css".
                    -->
                    <div class="tt-heading tt-heading-xsm anim-fadeinup">
                        <h2 class="tt-heading-title">Our Vision to make some memorable</h2>
                        <!-- <h3 class="tt-heading-subtitle text-gray">Subtitle</h3> -->
                    </div>
                    <!-- End tt-Heading -->

                    <div class="anim-fadeinup text-gray">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ab cupiditate, mollitia eum voluptatibus cumque adipisci culpa facilis in voluptatem omnis, reiciendis itaque. Reiciendis, quisquam veniam at architecto ipsum nostrum!</p>
                    </div>

                </div> <!-- /.tt-col -->

                <div class="tt-col-lg-4">
                </div> <!-- /.tt-col -->
            </div> <!-- /.tt-row -->

        </div> <!-- /.tt-section-inner -->
    </div>
    <!-- End tt-section -->
    <!-- =======================
    ///// Begin tt-section /////
    ============================
    * You can use padding classes if needed. For example "padding-top-xlg-150", "padding-bottom-xlg-150", "no-padding-top", "no-padding-bottom", etc. Note that each situation may be different and each section may need different classes according to your needs. More info about helper classes can be found in the file "helper.css".
    -->
    <div class="tt-section no-padding-bottom">
        <div class="tt-section-inner tt-wrap">

            <!-- Begin tt-Gallery (works combined with tt-Ggrid!)
            ======================
            * Use class "ttga-hover" to enable gallery item hover effect (behavior depends on "ttgr-gap-*" classes below).
            -->
            <div class="tt-gallery">

                <!-- Begin tt-Grid
                ===================
                * Use class "ttgr-layout-2", "ttgr-layout-3", "ttgr-layout-4" to set grid layout (columns). No class = one column.
                * Use class "ttgr-layout-1-2", "ttgr-layout-2-1", "ttgr-layout-2-3", "ttgr-layout-3-2", "ttgr-layout-3-4" or "ttgr-layout-4-3" to set grid mixed layout (columns).
                * Use class "ttgr-layout-creative-1" or "ttgr-layout-creative-2" to set grid creative mixed layout (no effect with classes "ttgr-portrait", "ttgr-portrait-half", "ttgr-not-cropped" and "ttgr-shifted").
                * Use class "ttgr-portrait" or "ttgr-portrait-half" to enable portrait mode (no effect with classes "ttgr-layout-creative-1", "ttgr-layout-creative-2" and "ttgr-not-cropped").
                * Use class "ttgr-gap-1", "ttgr-gap-2", "ttgr-gap-3", "ttgr-gap-4", "ttgr-gap-5" or "ttgr-gap-6" to add space between items.
                * Use class "ttgr-not-cropped" to enable not cropped mode (effect only with classes "ttgr-layout-2", "ttgr-layout-3" and "ttgr-layout-4").
                * Use class "ttgr-shifted" to enable shifted layout (effect only with classes "ttgr-layout-2", "ttgr-layout-3" and "ttgr-layout-4").
                -->
                <div class="tt-grid ttgr-not-cropped ttgr-shifted ttgr-gap-5">

                    <!-- Begin tt-Grid items wrap
                    ============================== -->
                    <div class="tt-grid-items-wrap isotope-items-wrap lightgallery">

                        <!-- Begin tt-Grid item
                        ======================== -->
                        <div class="tt-grid-item isotope-item">
                            <div class="ttgr-item-inner">

                                <!-- Begin tt-Gallery item
                                =========================== -->
                                <a href="assets/img/custom/productdetail3.jpg" class="tt-gallery-item lg-trigger" data-cursor="View">
                                    <div class="tt-gallery-item-inner">
                                        <div class="tt-gallery-image-wrap">
                                            <figure class="tt-gallery-image ttgr-height">
                                                <img class="anim-image-parallax" src="assets/img/custom/productdetail3.jpg" alt="image">
                                            </figure> <!-- /.tt-gallery-image -->
                                        </div> <!-- /.tt-gallery-image-wrap -->
                                    </div> <!-- /.tt-gallery-item-inner -->
                                </a>
                                <!-- End tt-Gallery item -->

                            </div> <!-- /.ttgr-item-inner -->
                        </div>
                        <!-- End tt-Grid item -->
                        <!-- Begin tt-Grid item
                        ======================== -->
                        <div class="tt-grid-item isotope-item">
                            <div class="ttgr-item-inner">

                                <!-- Begin tt-Gallery item
                                =========================== -->
                                <a href="assets/img/custom/productdetail4.jpg" class="tt-gallery-item lg-trigger" data-cursor="View">
                                    <div class="tt-gallery-item-inner">
                                        <div class="tt-gallery-image-wrap">
                                            <figure class="tt-gallery-image ttgr-height">
                                                <img class="anim-image-parallax" src="assets/img/custom/productdetail4.jpg" alt="image">
                                            </figure> <!-- /.tt-gallery-image -->
                                        </div> <!-- /.tt-gallery-image-wrap -->
                                    </div> <!-- /.tt-gallery-item-inner -->
                                </a>
                                <!-- End tt-Gallery item -->

                            </div> <!-- /.ttgr-item-inner -->
                        </div>
                        <!-- End tt-Grid item -->
                        <!-- Begin tt-Grid item
                        ======================== -->
                        <div class="tt-grid-item isotope-item">
                            <div class="ttgr-item-inner">

                                <!-- Begin tt-Gallery item
                                =========================== -->
                                <a href="assets/img/custom/productdetail5.jpg" class="tt-gallery-item lg-trigger" data-cursor="View" data-sub-html="Yes, you can use image captions. :)">
                                    <div class="tt-gallery-item-inner">
                                        <div class="tt-gallery-image-wrap">
                                            <figure class="tt-gallery-image ttgr-height">
                                                <img class="anim-image-parallax" src="assets/img/custom/productdetail5.jpg" alt="image">
                                            </figure> <!-- /.tt-gallery-image -->
                                        </div> <!-- /.tt-gallery-image-wrap -->
                                    </div> <!-- /.tt-gallery-item-inner -->
                                </a>
                                <!-- End tt-Gallery item -->

                            </div> <!-- /.ttgr-item-inner -->
                        </div>
                        <!-- End tt-Grid item -->

                    </div>
                    <!-- End tt-Grid items wrap  -->

                </div>
                <!-- End tt-Grid -->

            </div>
            <!-- End tt-Gallery -->

        </div> <!-- /.tt-section-inner -->
    </div>
    <!-- End tt-section -->
    <!-- =======================
    ///// Begin tt-section /////
    ============================
    * You can use padding classes if needed. For example "padding-top-xlg-150", "padding-bottom-xlg-150", "no-padding-top", "no-padding-bottom", etc. Note that each situation may be different and each section may need different classes according to your needs. More info about helper classes can be found in the file "helper.css".
    -->
    <div class="tt-section padding-bottom-xlg-150">
        <div class="tt-section-inner tt-wrap">

            <!-- Begin page nav
            ====================
            * Use class "tt-pn-stroke" to enable title stroke style.
            * Use class "tt-pn-scroll" to enable hover title scroll. Note: If "tt-pn-hover-title" text is wider than "tt-pn-link" then it scrolls by default. The longer the text, the faster it scrolls.
            -->
            <div class="tt-page-nav tt-pn-scroll">
                <a href="single-project-2.html" class="tt-pn-link anim-fadeinup">
                    <div class="tt-pn-title">More Projects</div>
                    <div class="tt-pn-hover-title">Explore More Projects</div>
                </a> <!-- /.tt-pn-link -->

                <div class="tt-pn-subtitle anim-fadeinup">Explore More</div>

                <!-- Use if destination page contains page header image -->
                <div class="tt-pn-image">
                    <img src="assets/img/custom/productdetail1.jpg" alt="image">
                </div>
            </div>
            <!-- End page nav -->

        </div> <!-- /.tt-section-inner -->
    </div>
    <!-- End tt-section -->

    <div class="tt-section padding-top-xlg-150 padding-bottom-xlg-100 padding-left-sm-3-p padding-right-sm-3-p bg-white-accent-3">
        <div class="tt-section-inner">

            <!-- Begin testimonials slider
            ===============================
            * Use class "text-center" to align text to the center.
            * Use class "cursor-drag" to enable cursor drag on carousel hover ("data-simulate-touch" attribute must be enabled!).
            * Use class "ts-hide-pagination" to hide pagination (for desktop only!).
            * Use class "ts-hide-navigation" to hide navigation arrows.
            * Use class "ts-full-width" to enable full width slider.
            * Available data attributes:
                    data-speed="900"......................(milliseconds)
                    data-autoplay="5000"..................(milliseconds. Note: disabled after user first interactions)
                    data-simulate-touch="true"............(true/false)
                    data-loop="true"......................(true/false)
            -->
            <div class="tt-testimonials-slider ts-full-width text-center cursor-drag ts-scale-down ts-hide-navigation anim-fadeinup" data-loop="true" data-simulate-touch="true" data-speed="900">

                <!-- Begin swiper container -->
                <div class="swiper">

                    <!-- Begin swiper wrapper (required) -->
                    <div class="swiper-wrapper">

                        <!-- Begin swiper slide
                        ======================== -->
                        <div class="swiper-slide font-alter">
                            <div class="tt-ts-item">
                                <div class="tt-ts-text">
                                    "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ut molestiae temporibus,
                                    obcaecati necessitatibus minima quia culpa possimus totam aspernatur nisi magnam sint,
                                    hic, aperiam incidunt sed. "
                                </div>
                                <div class="tt-ts-subtext">- Feedback</div>
                            </div>
                        </div>
                        <!-- End swiper slide -->
                        <!-- Begin swiper slide
                        ======================== -->
                        <div class="swiper-slide font-alter">
                            <div class="tt-ts-item">
                                <div class="tt-ts-text">
                                    "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ut molestiae temporibus,
                                    obcaecati necessitatibus minima quia culpa possimus totam aspernatur nisi magnam sint,
                                    hic, aperiam incidunt sed. "
                                </div>
                                <div class="tt-ts-subtext">- Feedback</div>
                            </div>
                        </div>
                        <!-- End swiper slide -->
                        <!-- Begin swiper slide
                        ======================== -->
                        <div class="swiper-slide font-alter">
                            <div class="tt-ts-item">
                                <div class="tt-ts-text">
                                    "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ut molestiae temporibus,
                                    obcaecati necessitatibus minima quia culpa possimus totam aspernatur nisi magnam sint,
                                    hic, aperiam incidunt sed. "
                                </div>
                                <div class="tt-ts-subtext">- Feedback</div>
                            </div>
                        </div>
                        <!-- End swiper slide -->
                        <!-- Begin swiper slide
                        ======================== -->
                        <div class="swiper-slide font-alter">
                            <div class="tt-ts-item">
                                <div class="tt-ts-text">
                                    "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ut molestiae temporibus,
                                    obcaecati necessitatibus minima quia culpa possimus totam aspernatur nisi magnam sint,
                                    hic, aperiam incidunt sed. "
                                </div>
                                <div class="tt-ts-subtext">- Feedback</div>
                            </div>
                        </div>
                        <!-- End swiper slide -->
                        <!-- Begin swiper slide
                        ======================== -->
                        <div class="swiper-slide font-alter">
                            <div class="tt-ts-item">
                                <div class="tt-ts-text">
                                    "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ut molestiae temporibus,
                                    obcaecati necessitatibus minima quia culpa possimus totam aspernatur nisi magnam sint,
                                    hic, aperiam incidunt sed. "
                                </div>
                                <div class="tt-ts-subtext">- Feedback</div>
                            </div>
                        </div>
                        <!-- End swiper slide -->

                    </div>
                    <!-- End swiper wrapper -->

                </div>
                <!-- End swiper container -->
                <!-- Testimonials slider navigation (arrows) -->
                <div class="tt-ts-nav-prev">
                    <div class="tt-ts-nav-arrow magnetic-item"></div>
                </div>
                <div class="tt-ts-nav-next">
                    <div class="tt-ts-nav-arrow magnetic-item"></div>
                </div>

                <!-- Testimonials slider pagination -->
                <div class="tt-ts-pagination hide-cursor"></div>

            </div>
            <!-- End testimonials slider -->

        </div> <!-- /.tt-section-inner -->
    </div>

</div>
<!-- End page content -->
