<ul class="flex-column nav">
    <li class="prof_pic">
        <img src="/assets/img/custom/user.jpg" alt="">

        <div class="tt-heading tt-heading-xsm anim-fadeinup mb-3" style="">
            <h2 class="tt-heading-title">User Name</h2>
            <h3 class="tt-heading-subtitle mt-0">Status / Type</h3>
        </div>
    </li>
    <li><a href="@Url.Action("Index","UserDashBoard")" class="tt-tab-btn">Edit Profile</a></li>
    <li><button class="tt-tab-btn" data-content-id="tab-4-content">Booking List</button></li>
    <li><a href="@Url.Action("ShippingAddress","UserDashBoard")" class="tt-tab-btn">Shipping Address</a></li>
    <li><button class="tt-tab-btn" data-content-id="tab-2-content">Change Password</button></li>
    <li><a href="@Url.Action("Logout","Login")" class="tt-tab-btn" data-content-id="tab-6-content">Log Out</a></li>
</ul>
