@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "List Of Album Types";
}
<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col">
                    <h3 class="page-title">@ViewBag.Title</h3>
                </div>
                <div class="col-auto text-right">
                    <a title="Add Event" onclick="AddEventClicked()" href="#" data-toggle="modal" data-target="#EventModal" class="btn btn-primary add-button ml-3">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="tblDataList" class="table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Album Type</th>
                                        <th>Description</th>
                                        <th>IsActive</th>
                                        <th>Unit Price</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section myModals{
    <div class="modal fade" id="EventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content t">
                <div class="modal-body">
                    <div class="modal-header">
                        <div id="modalHdr"></div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <table style="padding:10px" id="tblDataListModal">
                        <tbody>
                            <tr>
                                <td class="mtd ">
                                    ID :
                                </td>
                                <td class="mtd ">
                                    <input id="cAlbumTypeId" type="text"
                                           class="form-control " disabled data-name="AlbumTypeId" />
                                </td>
                            </tr>
                            <tr>
                                <td class="mtd ">
                                    Album Type:
                                </td>
                                <td class="mtd ">
                                    <input id="cAlbumType" onkeyup="ValidateControl()" type="text"
                                           class="form-control is-invalid" data-name="AlbumType" />
                                </td>
                            </tr>
                            <tr>
                                <td class="mtd ">
                                    Description :
                                </td>
                                <td class="mtd ">
                                    <input id="cDescription" onkeyup="ValidateControl()" type="text"
                                           class="form-control is-invalid" data-name="Description" />
                                </td>
                            </tr>
                            <tr>
                                <td class="mtd ">
                                    Is Active :
                                </td>
                                <td class="mtd ">
                                    <select id="cIsActive" data-name="IsActive"
                                            onchange="ValidateControl()"
                                            class="form-control is-invalid">
                                        <option selected value="">-</option>
                                        <option value="false">No</option>
                                        <option value="true">Yes</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="mtd ">
                                    Unit Price:
                                </td>
                                <td class="mtd ">
                                    <input id="cUnitPrice" onkeyup="ValidateControl()" type="text"
                                           class="form-control is-invalid" data-name="UnitPrice" />
                                </td>
                            </tr>
                        </tbody>
                        <tr>
                            <td class="mtd ">
                            </td>
                            <td class="mtd ">
                                <button id="btnSave" type="button" disabled class="btn btn-sm bg-success-light mr-2"><i class="far fa-edit mr-1"></i> Save</button>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
}
@section styleheader{
    <link href="~/UIContent/CSS/sweetalert2.min.css" rel="stylesheet" />
    <style>
        .inVisible {
            display: none;
        }

        .mtd {
            padding: 10px;
        }
    </style>
}
@section scripts{
    <script src="~/UIContent/JS/jquery-3.6.0.min.js"></script>
    <script src="~/UIContent/JS/jquery-ui-1.13.2.min.js"></script>
    <script src="~/UIContent/JS/jquery.dataTables.min.js"></script>
    @*<script src="~/UIContent/JS/dataTables.bootstrap5.min.js"></script>*@
    <script src="~/UIContent/JS/dataTables.js"></script>

    <script src="~/UIContent/JS/sweetalert2.all.min.js"></script>
    <script src="~/UIContent/JS/CustomePage/CommonReusableJS.js"></script>
    <script src="~/UIContent/JS/CustomePage/Master/AlbumJS.js"></script>
}

