@using System.Data
@using llpstudio.Classes
@using System.Globalization
@using System.Collections
@using llpstudio.Models;

@{
    AccountDataLayer acdl = new AccountDataLayer();
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    TempData["dashboard"] = "aaa";

    //DataSet ds = (DataSet)ViewBag.GiftCardPaymentList;
    //DataTable dt = new DataTable();

    //if (ds != null && ds.Tables[0].Rows.Count > 0)
    //{
    //    dt = ds.Tables[0];

    //}

    //DataSet ds1 = (DataSet)ViewBag.MenuOrderPaymentList;
    //DataTable dt1 = new DataTable();

    //if (ds1 != null && ds1.Tables[0].Rows.Count > 0)
    //{
    //    dt1 = ds1.Tables[0];

    //}
  
}

<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-12">
                    <h3 class="page-title">Welcome Admin!</h3>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon bg-primary">
                                <i class="far fa-user"></i>
                            </span>
                            <div class="dash-widget-info">
                                <h3>0</h3>
                                <h6 class="text-muted">Users</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon bg-primary">
                                <i class="fas fa-user-shield"></i>
                            </span>
                            <div class="dash-widget-info">
                                <h3>0</h3>
                                <h6 class="text-muted">Photos</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon bg-primary">
                                <i class="fas fa-qrcode"></i>
                            </span>
                            <div class="dash-widget-info">
                                <h3>0</h3>
                                <h6 class="text-muted">Order</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon bg-primary">
                                <i class="far fa-credit-card"></i>
                            </span>
                            <div class="dash-widget-info">
                                <h3>0</h3>
                                <h6 class="text-muted">Payment</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
